<ion-content>
  
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Peliculas</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide *ngFor="let p of peliculaa">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{ p.descripcion }}</ion-card-subtitle>
          <ion-card-title>{{ p.titulo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ p.genero }}
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
   <!-- <app-slideshow-backdrop [peliculasRecientes]="peliculasRecientes">
  </app-slideshow-backdrop>  -->

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Cartelera</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-slides mode="ios" pager="ios" scrollbar="ios">
    <ion-slide *ngFor="let p of peliculaa">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{ p.descripcion }}</ion-card-subtitle>
          <ion-card-title>{{ p.titulo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{ p.genero }}
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

   <!-- <app-slideshow-poster [peliculasRecientes]="peliculasRecientes">
    
  </app-slideshow-poster>  -->

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Populares</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <app-slideshow-pares [peliculas]="peliculasPopulares" (cargar)="cargarMas()">

  </app-slideshow-pares> -->

</ion-content>