<ion-header>
  <ion-buttons slot="start" (click)="inicio()">
    <ion-back-button defaultHref="/tab1"></ion-back-button>
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-buttons>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" (click)="inicio()">
      <ion-icon name="home"></ion-icon>
      <ion-label>Peliculas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" (click)="iniciodos()">
      <ion-icon name="search"></ion-icon>
      <ion-label>Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" >
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Favoritos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
